<html>
    <head>
        <title>
         @*    5B ASP .NET CORE *@

         @ViewData["TitoloPagina"]
        </title>
    </head>
    <body>
        <header>Qui ci sarà l'header</header>
        @RenderBody()
        <footer>Footer</footer>
        @RenderSection("Scripts", required: false)
    </body>
</html>