@{
    ViewData["TitoloPagina"] = "HomePage 5B";
}

<div style="text-align : center;">
    <h1>Welcome</h1>
    @* <a href="/users">Go To Users</a> *@
    <a asp-controller="Users">Go To Users With TagHelper</a>
</div>